<!--  	zFeeder template
	name / description: aqua / simple html tables blue scheme 
	author: AB
	note: Do NOT delete or modify comments in the template files
-->

<!-- zFeeder template header -->
<!-- ENDzFeeder template header -->

<!-- header -->
 <table width="100%" cellpadding="0" cellspacing="0"> 
<!-- ENDheader --> 
  <!-- channel --> 
  <tr align="right" valign="middle"> 
     <td background="{scripturl}images/background/v17.png" bgcolor="#00D9E6"> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> <a href="{chanlink}" title="{chandesc}" target="_blank">{chantitle}</a>&nbsp;&nbsp; <a href="{moreurl}"><img src="{scripturl}images/more.png" border="0" alt="[more]"  title="All stored news from this feed" /></a> <a href="{feedurl}"><img src="{scripturl}images/xml.png" border="0" alt="[xml]" title="RSS feed" /></a> </font> </td> 
   </tr> 
  <!-- ENDchannel --> 
  <!-- news --> 
  <tr align="left" valign="middle"> 
     <td bgcolor="#E7F6FF"> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> &nbsp;<a href="{link}" title="{link}" target="_blank">{pubdate}&nbsp;{title}</a> </font> </td> 
   </tr> 
  <tr align="left"> 
     <td bgcolor="#FBFBFB"> <font face="Verdana, Arial, Helvetica, sans-serif" size="2">{description}</font> </td> 
   </tr> 
  <!-- ENDnews --> 
<!-- footer --> 
</table> 
<!-- ENDfooter --> 
<!-- between --> 
<br /> 
<!-- ENDbetween --> 
