<!--	zFeeder template
	author: RJ (php at rij73 dot com)
	note: Do NOT delete or modify comments in the template files - you need to associate this with a css file
-->

<!-- zFeeder template header -->
<!-- ENDzFeeder template header -->

<!-- header -->
<!-- ENDheader -->
<!-- channel -->
<div id="channel">
	<div id="logo">{chanlogo}</div>
	<div id="chanlink"><a href="{chanlink}" title="{chandesc}" target="_blank">{chantitle}</a></div>
	<div id="lastupdated">{lastupdated}</div>
	<div id="more"><a href="{moreurl}"><img src="{scripturl}images/more.png" border="0" alt="more"  title="All stored news from this feed" /></a></div>
</div>
<!-- ENDchannel --> 
<!-- news --> 
<div id="title"><a href="{link}" target="_blank">{title}</a></div>
<div id="description">{description}</div>
<!-- ENDnews --> 
<!-- footer --> 
<!-- ENDfooter --> 
<!-- between --> 
<!-- ENDbetween --> 


<!--73b282defa77cb409e2aa5bc25409886-->