<!--	zFeeder template
	name / description: RiJ / pure CSS template
	author: RJ (php@rij73.com)
	note: Do NOT delete or modify comments in the template files - you need to associate this with a css file
-->

<!-- zFeeder template header -->
<!-- ENDzFeeder template header -->

<!-- header -->
<!-- ENDheader -->
<!-- channel -->
 <div id="channel"> 
  <div id="logo">{chanlogo}</div> 
  <a href="{chanlink}" title="{chandesc}" target="_blank">{chantitle}</a> 
  <div id="lastupdated">{lastupdated}</div> 
  <div id="moreurl"><a href="{moreurl}">[more]</a></div> 
</div> 
<!-- ENDchannel --> 
<!-- news --> 
<div id="title">:: <a href="{link}" target="_blank">{title}</a></div> 
<div id="description">{description}</div> 
<!-- ENDnews --> 
<!-- footer --> 
<!-- ENDfooter --> 
<!-- between --> 
<div id="between"> 
  <div id="adminlink"><a target="_blank" title="Admin Panel" href="admin.php">[+]</a></div> 
</div> 
<!-- ENDbetween --> 
