<!--	zFeeder template
	author: RJ (php at rij73 dot com)
	note: Do NOT delete or modify comments in the template files - you need to associate this with a css file
-->

<!-- zFeeder template header -->
<!-- ENDzFeeder template header -->

<!-- header -->
<!-- ENDheader -->
<!-- channel -->
<div id="channel">
	<div id="chanlink"><a href="framesdemo_mainframe.php?zfposition={id}&zfcategory={category}" title="{chandesc}" target="mainframe" onClick="blur();"> {chantitle}</a></div>
</div>
<!-- ENDchannel --> 
<!-- news --> 
<!-- ENDnews --> 
<!-- footer --> 
<!-- ENDfooter --> 
<!-- between --> 
<!-- ENDbetween --> 
