<!--	zFeeder template
	name / description: simplegray / simple gray tables scheme
	author: AB
	note: Do NOT delete or modify comments in the template files
-->

<!-- zFeeder template header -->
<!-- ENDzFeeder template header -->

<!-- header -->
 <table width="100%" cellpadding="0" cellspacing="0" border="1" bordercolor="#F3F3F3"> 
<!-- ENDheader --> 
  <!-- channel --> 
  <tr align="right" valign="middle"> 
     <td bgcolor="#CCCCCC"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> <a href="{chanlink}" title="{chandesc}" target="_blank">{chantitle}</a> </font></td> 
   </tr> 
  <!-- ENDchannel --> 
  <!-- news --> 
  <tr align="left" valign="middle"> 
     <td bgcolor="#EFEFEF"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> &nbsp;<a href="{link}" title="{link}" target="_blank">{pubdate}&nbsp;{title}</a> </font></td> 
   </tr> 
  <tr align="left"> 
     <td bgcolor="#F8F8F8"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">{description}</font></td> 
   </tr> 
  <!-- ENDnews --> 
<!-- footer --> 
</table> 
<!-- ENDfooter --> 
<!-- between --> 
<table width="100%"> 
  <tr> 
    <td><center> 
        <font color="#CCCCCC">~~~<(o)>~~~</font> 
      </center></td> 
  </tr> 
</table> 
<!-- ENDbetween --> 
