<!--	zFeeder template
	name / description: titlebox / simple table for headlines
	author: AB
	note: Do NOT delete or modify comments in the template files
-->

<!-- zFeeder template header -->
<!-- ENDzFeeder template header -->

<!-- header -->
 <table width="120" cellpadding="0" cellspacing="0" bordercolor="#E1F0FF"> 
<!-- ENDheader --> 
  <!-- channel --> 
  <tr align="left" valign="middle"> 
     <td> <table width="120" cellpadding="0" cellspacing="0"> 
         <tr> 
          <td><a href="{chanlink}" title="{chandesc}" target="_blank"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>{chantitle}</strong></font></a><br /> 
             <font color="#000066" size="1" face="Arial, Helvetica, sans-serif"><em>{lastupdated}</em></font> </td> 
        </tr> 
       </table></td> 
   </tr> 
  <!-- ENDchannel --> 
  <!-- news --> 
  <tr align="left" valign="top"> 
     <td> <table width="120"> 
         <tr> 
          <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{link}" title="{title}" target="_blank">{title}</a></font></td> 
        </tr> 
         <tr> 
          <td bgcolor="#66CCFF"></td> 
        </tr> 
       </table></td> 
   </tr> 
  <!-- ENDnews --> 
<!-- footer --> 
</table> 
<!-- ENDfooter --> 
<!-- between --> 
<br /> 
<!-- ENDbetween --> 
