<!--	zFeeder template
	name / description: wap_sources - this is used by wap.php for news listing
	author: AB
	note: Do NOT delete or modify comments in the template files
-->

<!-- zFeeder template header -->
<!-- ENDzFeeder template header -->

<!-- header -->
<!-- ENDheader --> 
<!-- channel --> 
	<p><strong><![CDATA[{chantitle}]]></strong> - <a href="{moreurl}">All</a></p>
<!-- ENDchannel --> 
<!-- news --> 
	<p><![CDATA[{pubdate} - {title}]]><br/><![CDATA[{description}]]><br/></p>
<!-- ENDnews --> 
<!-- footer -->
<!-- ENDfooter --> 
<!-- between --> 
<!-- ENDbetween --> 
