<!--	zFeeder template
	name / description: wap_categ - this is used by wap.php for newsfeeds listing
	author: AB
	note: Do NOT delete or modify comments in the template files
-->

<!-- zFeeder template header -->
<!-- ENDzFeeder template header -->

<!-- header -->
<!-- ENDheader --> 
<!-- channel --> 
	      	<p><a href="{scripturl}wap.php?zfcategory={category}&amp;zfposition={id}"><![CDATA[{chantitle} - {chandesc}]]></a><br/><br/></p> 
<!-- ENDchannel --> 
<!-- news --> 
<!-- ENDnews --> 
<!-- footer --> 
<!-- ENDfooter --> 
<!-- between --> 
<!-- ENDbetween --> 
